@model IEnumerable<Wardrobe.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h1>ACCESSORIES</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    @Html.ActionLink("Create", "Create", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })
                    <h3><span class="label label-default">@Html.DisplayNameFor(model => model.Name)</span> &nbsp;@Html.DisplayFor(modelItem => item.Name)</h3>
                    <h3><span class="label label-default">@Html.DisplayNameFor(model => model.Color)</span> &nbsp;@Html.DisplayFor(modelItem => item.Color)</h3>
                    <h3><span class="label label-default">@Html.DisplayNameFor(model => model.Occasion)</span> &nbsp;@Html.DisplayFor(modelItem => item.Occasion)</h3>
                    <h3><span class="label label-default">@Html.DisplayNameFor(model => model.Photo)</span> &nbsp;@Html.DisplayFor(modelItem => item.Photo)</h3>
                    @*<p><a href="#" class="btn btn-primary" role="button">Details</a></p>*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
                    @Html.ActionLink("Details", "Details", new { id = item.AccessoriesID }, new { @class = "btn btn-primary", role = "button" })

                </div>
            </div>
        </div>
    }

</div>
