<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-header">
        <h1 class="header-text"> Lavelle's Wardrobe <small class="logo">A stylist's nightmare</small></h1>
    </div>

    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:55112/">Home</a></li>
                    <li><a href="http://localhost:55112/Tops/Index">Tops</a></li>
                    <li><a href="http://localhost:55112/Bottoms/Index">Bottoms</a></li>
                    <li><a href="http://localhost:55112/Shoes/Index">Shoes</a></li>
                    <li><a href="http://localhost:55112/Accessories/Index">Accessories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lavelle's Wardrobe, Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
